

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

table,
th,
td {
  vertical-align: middle !important;
  text-align: center;
  padding: 0px !important;
  border: none;
  border-collapse: separate;
}

tr {
  white-space: pre-wrap;
  height: 80px;
}

.event {
  text-align: left;
  padding: 0;
  border-left: 1px solid black;
  white-space: pre-wrap;
}

textarea {
  background: transparent;
  border: none;
  color: #000000;
  padding: 10px;
  width: 100%;
  flex-wrap: wrap;
}

.time-block {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed black !important;
  border-bottom: none !important;
  width: 10%;
}

.save {
  width: 10%;
  padding: 0px;
  background-color: #06aed5;
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align: center !important;
}

.saveBtn {
  color: white;
  background-color: transparent;
  padding: 0px;
  border: none;
  width:100%
  
}

.save i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}
